app.yaak.desktop
Electron
google-chrome
mimeapps.list
pavucontrol
spotify
GitKraken
gtk3-0
kdeglobals
neofetch
pulse
stripe
dconf
glib-2.0
htop
QtProject.conf
systemd
discord
go
kolourpaintrc
obs-studio
vlc
